
body{
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background: #41295a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.capa{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -1;
    top: 0;left: 0;
}

.container{
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

.container .btn-menu, .logo{
    float: left;
    line-height:80px;
}

.container .btn-menu label{
    font-size: 30px;
    cursor: pointer;
    margin-right: 20px;
}

.car{
    margin-right: 20px;
    cursor: pointer;
}

div.logo {
    width: 60%;
    padding: 5px;
  }

  div.logo img.izq {
    float: left;
    margin-right: 10px;
  }

.logo h1{
    font-weight: 600;
    font-size: 25px;
    margin: 20px;
}

/* ESTILOS MENU LATERAL */

#btn-menu{
    display: none;
}
.container-menu{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: white;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}



.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 15px;
    color: black;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav .icono{
    margin-right: 20px;
}

.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: orange;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
